body{
    background-color: #efefef;
}
.main {
    margin: 30px;
    background-color: white;
}
.btn-publish {
    float: right;
    margin-bottom: 15px;
}
.media-object {
    height: 38px;
    width: 38px;
}
.right-own {
    margin-top: 15px;
}